[submodule "beauty-managment"]
	path = beauty-managment
	url = https://github.com/lcse1706/beauty-managment.git
[submodule "beauty-by-ec"]
	path = beauty-by-ec
	url = https://github.com/lcse1706/beauty-by-ec.git
[submodule "cli-notebook"]
	path = cli-notebook
	url = https://github.com/lcse1706/cli-notebook.git
